:root {
  --text-50: 210 29% 5%;
  @for $i from 1 through 9 {
    --text-#{$i}00: 210 20% #{9 - $i + 1}0%;
  }
  --text-950: 210 20% 95%;

  --theme-50: 5 68% 95%;
  @for $i from 1 through 9 {
    --theme-#{$i}00: 5 68% #{9 - $i + 1}0%;
  }
  --theme-950: 5 68% 5%;

  --bg-000: 0 0% 100%;
  --bg-50: 0 5% 95%;
  @for $i from 1 through 9 {
    --bg-#{$i}00: 0 5% #{9 - $i + 1}0%;
  }
  --bg-950: 0 5% 5%;
  // --bg-900: 0 5% 15%;
  // --bg-800: 0 5% 30%;
  // --bg-700: 0 5% 45%;
  // --bg-600: 0 5% 55%;
  // --bg-500: 0 5% 65%;
  // --bg-400: 0 5% 75%;
  // --bg-300: 0 5% 85%;
  // --bg-200: 0 5% 95%;
  // --bg-100: 0 0% 100%;

  --neumorphism-shadow: 0.6rem 0.6rem 2.4rem hsl(var(--bg-100)),
    -0.6rem -0.6rem 1.6rem hsl(var(--bg-000));
}

#app[data-theme="dark"],
#app[data-theme="dark"] + * {
  --text-50: 210 20% 95%;
  @for $i from 1 through 9 {
    --text-#{$i}00: 210 20% #{$i}0%;
  }
  --text-950: 210 20% 5%;
  // --text-900: 210 20% 95%;
  // --text-800: 210 20% 90%;
  // --text-700: 210 20% 70%;
  // --text-600: 210 20% 60%;
  // --text-500: 210 20% 50%;
  // --text-400: 210 20% 40%;
  // --text-300: 210 20% 30%;
  // --text-200: 210 20% 20%;
  // --text-100: 210 29% 10%;

  --bg-000: 0 5% 0;
  --bg-50: 0 5% 5%;
  @for $i from 1 through 9 {
    --bg-#{$i}00: 0 5% #{$i}0%;
  }
  --bg-950: 0 5% 95%;

  // --bg-900: 0 5% 78%;
  // --bg-800: 0 5% 64%;
  // --bg-700: 0 5% 48%;
  // --bg-600: 0 5% 34%;
  // --bg-500: 0 5% 27%;
  // --bg-400: 0 5% 15%;
  // --bg-300: 0 5% 11%;
  // --bg-200: 0 5% 7%;
  // --bg-100: 0 0% 0%;

  --neumorphism-shadow: 0.6rem 0.6rem 2.4rem hsl(var(--bg-000)),
    -0.6rem -0.6rem 1.6rem hsl(var(--bg-100));
}
